<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<body>
    <div class="App">
        <h3> Hello </h3>
      <!--  <a href="https://highschool.hopkinton.k12.ma.us/">Hopkinton</a>. -->

        
        <header class="App-header">
             <button> <a href="https://highschool.hopkinton.k12.ma.us/">Hopkinton</a></button>
    <form>
        <input type='text'  required>
        <input type='submit'>
    </form>

            <img src="{{ url_for('static', filename='Octocat.png') }}" class="App-logo" alt="logo" />
            <p>
                GitHub Codespaces <span class="heart">♥️</span> Flask
            </p>
            <p class="small">
                Edit <code>templates/index.html</code> and refresh to see your changes!
            </p>
        </header>
    </div>
</body>

</html>
